body {
  font-family: futura-pt, sans-serif;
  background-color: #f8f9fa;
}

#navbarNav {
  margin-left: 65%;
  font-size: 20px;
}

#navbarNav a {
  padding: 0 15px 0 15px;
}

#particles-js {
  width: 100%;
  height: 100%;
  z-index: -100;
}

.main-text {
  position: absolute;
  text-align: center;
  width: 70rem;
  height: 10rem;
  top: 50%;
  left: 50%;
  margin: -5rem 0 0 -35rem;
  letter-spacing: 10px;
}

.main-text h1 {
  font-size: 72px;
}

.main-text h2 {
  font-size: 42px;
  color: #5b5b5b;
}

.social-media {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 50%;
  top: 100%;
  margin: -5rem 0 0 -5rem;
}

.social-media a {
  padding: 0 10px 0 10px;
}

.social-media img {
  width: 20px;
  height: 20px;
}

/* APPLY PAGE CSS */
#apply-page .row p {
  text-align: center;
  color: #9e9e9e;
  font-size: 18px;
}

#apply-page .row li {
  color: #9e9e9e;
  font-size: 18px;
}

#apply-page .row h3 {
  text-align: center;
}

#apply-page .row:first-child {
  width: 40rem;
  margin: 0 auto;
  height: 20rem;
}

#apply-page .row:first-child h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
  padding: 60px 0 30px 0;
}

#apply-page .row:nth-child(2) .col {
  padding: 0 50px 0 50px;
}

/* CONTACT FORM CSS */
#contactForm {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10rem;
}

#contactForm p {
  text-align: center;
  color: #9e9e9e;
}

#contactForm a {
  text-align: center;
  color: #000;
  text-decoration: underline;
  transition: border-color .15s ease-out,color .15s ease-out;
}

#contactForm a:hover {
  color: rgba(0,0,0,.6);
}

#contactForm h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
  padding: 60px 0 30px 0;
}

#contactForm .form-control {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fafafa;
}

#contactForm .form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(39,39,39,.25)
}

#contactForm button {
  width: 120px;
  height: 42px;
  background-color: transparent;
  color: #272727;
  border: 2px solid #272727;
  border-radius: 0;
  transition: 0.15s background-color linear, 0.15s color linear;
}

#contactForm button:hover {
  background-color: #272727;
  color: #fff;
}

#contactForm button:focus {
  box-shadow: none;
}
